<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.material.min.css">
<style>
  
  #username {
    margin-bottom: auto;
    margin-left: 20px;
    width: 100%;
    padding-bottom: 10px;
  }

  .name {
    background: #F7F7F9;
    cursor: pointer;
    box-sizing: border-box;
    width: 15%;
    margin-left: 20px;
  }

  .description {
    width: 40%;
    margin-left: 5px;
  }

  .time {
    width: 15%;
    margin-left: 5px;
  } 

  .car {
    width: 25%;
    margin-left: 5px;
  }

  .in {
    background: rgb(33, 150, 243);
    color: #fff;
    border: 1px solid rgb(33, 150, 243);
    font-weight: bold;
    box-sizing: border-box;
    box-shadow: none;
  }

  input, select {
    width: 100%;
  }

  input,
  select {
    background: none;
    box-sizing: border-box;
    white-space: pre-wrap;
  }

  .no-border {
    border: none;
  }

  #datatable {
    max-width: 100% !important;
    table-layout: fixed;
  }

  #datatable tbody tr {
    border: 1px solid #c4e0f8;
  }

  .car-column {
    padding-right: 5px;
  }

  .mdl-grid {
    padding: 0px;
    width: 100%;
  }

  .mdl-cell--6-col {
    width: 100%;
  }

  #datatable_filter input {
    width: 90%;
  }

  #datatable_wrapper {
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #c4e0f8;
  }

  .dataTables_scrollHead {
    overflow: visible !important;
  }

  .dataTables_scrollBody {
    overflow-x: hidden !important;
  }


  @media screen and (max-width: 992px) {
    .name, .description, .time, .car {
      margin-bottom: 10px;
      margin: 5px auto;
      width: 90%;
    }

    #datatable .car-column  {
      font-size: 12px;
      padding-left: 20px;
    }

    #datatable_filter label {
     width: 100%;
    }

    #datatable_filter input {
      width: 95%;
      margin: auto;
    }

    .dropdown-item {
      font-size: 16px;
      line-height: 1.5;
    }
  }

  @-moz-document url-prefix() {
    fieldset {
      display: table-cell;
    }
  }
</style>

<div class="container-fluid">
  <div class="attendance row-block shadow border border-radius">
    <label>Circle of Care</label>
    <div class="progress shadow-small">
      <div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 0%;">0%</div>
    </div>
    <div id="peopleOut"></div>
  </div>
  <div class="status-row row-block shadow border" id="<%= me.id %>">
    <div class="row">
        <label id="username"><%= me.username %></label>
        <div class="shadow-small name btn <% if (me.is_in) { %> in <% } %>" id="name_
        <%=me.id %>" onclick="updateCurrentInOutStatus(this)">
          <% if (me.is_in) { %> IN
            <% } else { %> OUT
              <% } %>
        </div>
      <div class="description">
        <input type="text" class="form-control description_field" id="description_<%= me.id %>" value="<%= me.description %>" onkeyup="updateCurrentDescription(this)"
          placeholder="description">
      </div>
      <div class="time">
        <input type="text" class="form-control " id="time_<%= me.id %>" value="<%= me.time %>" onkeyup="updateCurrentTime(this)" placeholder="time">
      </div>
      <div class="car" id="car_<%= me.id %>">
        <select onchange="updateCurrentCar(this)" class="form-control">
              <option value=""></option>
              <% _.forEach(cars, function(car) { %>
              <option value="<%= car.car %>"><%= car.car %></option>
              <% }); %>
              <option value="<%= me.car %>" selected="selected"><%= me.car %></option>
          </select>
      </div>
    </div>
  </div>
  <table id="datatable" class="display" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th class="time-column">Time</th>
        <th class="car-column">Car</th>
      </tr>
    </thead>
    <tbody>
      <%
      var totalPeopleIn = 0;
      var totalPeopleOut = 0;

      _.forEach(currentstatus, function(status) {
        if (status.is_in) {
            totalPeopleIn += 1;
          } else {
            totalPeopleOut +=1;
          }
        if (status.id !== me.id) {
      %>
        <tr id="name_<%= status.id %>" class="<% if (status.is_in) { %> in <% } %>">
          <td>
            <%= status.username %>
          </td>
          <td id="description_<%= status.id %>">
            <%= status.description %>
          </td>
          <td id="time_<%= status.id %>">
            <%= status.time %>
          </td>
          <td id="car_<%= status.id %>">
            <%= status.car %>
          </td>
        </tr>
        <% }}); %>
    </tbody>
  </table>
</div>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.material.min.js"></script>
<script>
  var peopleIn = <%= totalPeopleIn %>;
  var peopleOut = <%= totalPeopleOut %>;

  function updateCurrentInOutStatus(name) {
    var id = $(name).parent().parent().attr('id');

    $(name).toggleClass('in');
    if ($(name).hasClass('in')) {
      io.socket.put('/currentstatus/name/' + id, {
        is_in: "true"
      });
      $(name).text("IN");
      peopleIn += 1;
      peopleOut -= 1;
    } else {
      io.socket.put('/currentstatus/name/' + id, {
        is_in: "false"
      });
      $(name).text("OUT");
      peopleOut += 1;
      peopleIn -= 1;
    }
    updateInOutTotal();
  }

  function updateCurrentDescription(description) {
    var id = $(description).parent().parent().parent().attr('id');
    io.socket.put('/currentstatus/description/' + id, {
      description: $(description).val()
    });
  }

  function updateCurrentTime(time) {
    var id = $(time).parent().parent().parent().attr('id');
    io.socket.put('/currentstatus/time/' + id, {
      time: $(time).val()
    });
  }

  function updateCurrentCar(car) {
    var id = $(car).parent().parent().parent().attr('id');
    io.socket.put('/currentstatus/car/' + id, {
      car: $(car).val()
    });
  }

  function saveHistory() {
      let id = $(this).parent().parent().parent().attr('id');
      let name = $('#username').text();
      let description = $('#description_' + id).val();
      let time = $('#time_' + id).val();
      let car = $('#car_' + id + ' select').val();

      io.socket.post('/history', {
        user_id: id,
        name: name,
        description: description,
        time: time,
        car: car
      });
    }

    $('.description_field').change(function () {
      let element = this;
      if ($(element).val() != "") {
        setTimeout(function () {
          saveHistory.call(element)
        }, 60000);
      }
    });

  io.socket.on('is_in', function (data) {
    $('#name_' + data.id).toggleClass('in');
    if (data.is_in) {
      peopleIn += 1;
      peopleOut -= 1;
    } else {
      peopleOut += 1;
      peopleIn -= 1;
    }
    updateInOutTotal();
  });

  io.socket.on('description', function (data) {
    var type = document.getElementById("description_" + data.id).nodeName;
    if (type === 'INPUT') {
      $('#description_' + data.id).val(data.description);
    } else {
      $('#description_' + data.id).text(data.description);
    }
  });

  io.socket.on('time', function (data) {
    var type = document.getElementById("time_" + data.id).nodeName;
    if (type === 'INPUT') {
      $('#time_' + data.id).val(data.time);
    } else {
      $('#time_' + data.id).text(data.time);
    }
  });

  io.socket.on('car', function (data) {
    var type = document.getElementById("car_" + data.id).nodeName;
    if (type === 'TD') {
      $('#car_' + data.id).text(data.car);
    } else {
      $('#car_' + data.id + ' option[selected]').removeAttr('selected', 'selected');
      $('#car_' + data.id + ' option[value="' + data.car + '"]').remove();
      $('#car_' + data.id + ' select').append('<option value="' + data.car + '"selected>' + data.car + '</option>');
    }
  });
  // TODO update page without reloading
  io.socket.on('updateuser', function (data) {
    window.location.reload(true);
  });

  io.socket.on('newuser', function (data) {
    window.location.reload(true);
  });

  io.socket.on('disableuser', function (data) {
    window.location.reload(true);
  }); 

  io.socket.on('deleteuser', function (data) {
    window.location.reload(true);
  });

  io.socket.on('updatecar', function (data) {
    window.location.reload(true);
  });

  io.socket.on('newcar', function (data) {
    window.location.reload(true);
  });

  io.socket.on('deletecar', function (data) {
    window.location.reload(true);
  });

  $(document).ready(function () {
    $('#datatable').DataTable({
      scrollY: 500,
      paging: false,
      responsive: true,
      columnDefs: [
        { targets: 1, className: 'description-column' },
        { targets: 3, className: 'car-column' },
        { targets: 2, className: 'time-column' }
      ]
    });

    $('#datatable_filter input').focus();
  });

  function updateInOutTotal() {
    $('#peopleOut').text('Out: ' + peopleOut + '/' + (peopleIn + peopleOut));
    $('.progress').html('<div class="progress-bar" role="progressbar" aria-valuenow="' + (peopleIn) +
      '" aria-valuemin="0" aria-valuemax="' + (peopleIn + peopleOut) + '" style="min-width: 2em; width: ' +
      (peopleIn / (peopleIn + peopleOut)) * 100 + '%;">' + peopleIn + "/" + (peopleIn + peopleOut) + '</div>');
  }

  updateInOutTotal();

</script>